<div class="container">
  <div class="row">
    <h1>Questions for the Stupid Coach</h1>
    <div class="col-12">
      <form action="/answer" method="GET" data-turbo="false">
        <div class="input-group">
          <input type="text" name="question" class="form-control col-9">
          <input type="submit" value="Ask!" class="btn btn-primary col-3">
        </div>
      </form>
    </div>
  </div>
</div>
